$blackBg: #000000;
$textColor: #FFFFFF;
$borderColor: #5C5C5C;
$violetElipsBg: rgba(250, 0, 255, 0.2);
$violetElipsBgMobile: rgba(250, 0, 255, 0.5);
$blueElipsBg: rgba(96, 92, 234, 0.5);
$pinkBgElips: #F101BF;
$greyCookieBg: #212834;
$buttonBg: rgba(255, 255, 255, 0.1);
$phoneQRBg: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
$phoneBg: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%);
$cookiesBg: #212834;
$textBlockBorder: rgba(255, 255, 255, 0.5);

$mobile: 420px;
$medium: 1180px;
$responsive: 1450px;